<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixCar20"
        tools:targetApi="31">
        <activity
            android:name=".End"
            android:exported="false" />
        <activity
            android:name=".OnlineQuestiosActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuiz"
            android:exported="false" />
        <activity
            android:name=".UsersQuiz"
            android:exported="false" />
        <activity
            android:name=".user_item"
            android:exported="false" />
        <activity
            android:name=".Lideri"
            android:exported="false" />
        <activity
            android:name=".Question_Maps_View_Activity"
            android:exported="false" />
        <activity
            android:name=".Question_Flags_View_Activty"
            android:exported="false" />
        <activity
            android:name=".Question_Capitals_View_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Mayraqaxaq.Hndkastan"
            android:exported="false" />
        <activity
            android:name=".Hndkastan"
            android:exported="false" />
        <activity
            android:name=".ui.Mayraqaxaq.Germania"
            android:exported="false" />
        <activity
            android:name=".ui.Mayraqaxaq.Egiptos"
            android:exported="false" />
        <activity
            android:name=".ui.Mayraqaxaq.Vrastan"
            android:exported="false" />
        <activity
            android:name=".ui.Mayraqaxaq.Armenia"
            android:exported="false" />
        <activity
            android:name=".Capitals"
            android:exported="false" />
        <activity
            android:name=".Mode_Selection"
            android:exported="false" />
        <activity
            android:name=".Main_Menu"
            android:exported="false" />
        <activity
            android:name=".item"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgPuuoB2zKAUULFdOUE5sDL0PFK5gTaFU" />

        <activity
            android:name=".CustomersMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_customers_maps" />
        <activity
            android:name=".EvacuatorMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_evacuator_maps" />
        <activity
            android:name=".CustomerRegLoginActivity"
            android:exported="false" />
        <activity
            android:name=".EvacuatorRegLoginActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>